{% extends 'base.html.twig' %}

{% block title %}Espace Client - Bornes Electriques
{% endblock %}

{% block main %}

	<div class="example-wrapper">
		<h1>Mon profil</h1>
	</div>

	<h3>Bienvenue dans votre espace</h3>

<main>
<div class="container">
  <div class="row">
  <div class="col-lg-8 col-sm-12 mb-4">
    <div class="card shadow-lg" style="width:25rem;">
        <img class="card-img-top" src="../assets/images/profile.png" alt="Card image profile">
            <div class="card-body">
                {# <h5 class="card-title text-success">	{{ consommation.quantite }}</h5> #}
                <h3>
                  {{ client.nom }}
                </h3>
                <h3>
                  {{ client.prenom }}
                </h3>
                <p class="card-text">Date de début de contrat :  </p>
                <a href="#" class="btn btn-success">Gérer mes informations</a>
            </div>
    </div>
  </div>
  </div>




<div class="row">
  <div class="col-lg-2 col-sm-12 mb-4">
    <div class="card shadow-lg">
        <h5 class="card-header">Consulter mes factures</h5>
      <div class="card-body">
        <h5 class="card-title">Ma facture du mois</h5>
        <a href="{{ path('espace_profile') }}" class="card-text">Voir</a><br>
        <a href="{{ path('espace_profile') }}" class="btn btn-success mt-3">Mes factures</a>
      </div>
    </div>
  </div>

  

<div class="row">
  <div class="col-lg-2 col-sm-12 mb-4">
    <div class="card shadow-lg">
        <h5 class="card-header">Ma consommation d'énergie</h5>
      <div class="card-body">
        	{% for conso in consos %}
            <li>
              {{ conso.quantite }}
            </li>
              <li>
              {{ conso.dateHeureConnexion|format_datetime('medium', 'short') }}
            </li>
              <li>
              {{ conso.dateDebutContrat|format_datetime('medium', 'short') }}
            </li>
          {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-12 mb-4">
    <div class="card shadow-lg">
        <h5 class="card-header">Mes bornes favorites</h5>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{{ path('espace_profile') }}" class="btn btn-success">Mes bornes</a>
      </div>
    </div>
  </div>
</div>

</div>      
</main> 
{% endblock %}