{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block main %}


	<main class="my-form">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="card">
						<div class="card-header">Inscription</div>
						<div class="card-body">
							{{ form_start(client_form) }}
							<div class="form-group row">
								<div class="col-md-4">
									{{ form_label(client_form.username,"Identifiant")}}
								</div>
								<div class="col-md-8">
									{{ form_widget(client_form.username, {"attr":{"class":"form_control" }})}}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-6">
									{{ form_label(client_form.password,"Mot de passe")}}
								</div>
								<div class="col-md-6">
									{{ form_widget(client_form.password, {"attr":{"class":"form_control" }})}}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4">
									<div class="form-error">
										{{ form_errors(client_form.nom) }}
									</div>
									{{ form_label(client_form.nom,"Nom")}}
								</div>
								<div class="col-md-8">
									{{ form_widget(client_form.nom, {"attr":{"class":"form_control" }})}}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4">
									<div class="form-error">
										{{ form_errors(client_form.prenom) }}
									</div>
									{{ form_label(client_form.prenom,"Prénom")}}
								</div>
								<div class="col-md-8">
									{{ form_widget(client_form.prenom, {"attr":{"class":"form_control" }})}}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4">
									<div class="form-error">
										{{ form_errors(client_form.mail) }}
									</div>
									{{ form_label(client_form.mail,"Adresse Mail")}}
								</div>
								<div class="col-md-8">
									{{ form_widget(client_form.mail, {"attr":{"class":"form_control" }})}}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4">
									<div class="form-error">
										{{ form_errors(client_form.adresse) }}
									</div>
									{{ form_label(client_form.adresse,"Adresse Postale")}}
								</div>
								<div class="col-md-8">
									{{ form_widget(client_form.adresse, {"attr":{"class":"form_control" }})}}
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-4">
									<div class="form-error">
										{{ form_errors(client_form.tel) }}
									</div>
									{{ form_label(client_form.tel,"Numero de Telephone")}}
								</div>
								<div class="col-md-8">
									{{ form_widget(client_form.tel, {"attr":{"class":"form_control" }})}}
								</div>
							</div>
							{{ form_widget(client_form.validate, {"attr":{"class":"btn btn-primary" }})}}
							{{ form_end(client_form) }}


							<button type="button" class="cb" data-toggle="modal" data-target="#exampleModal">
								<i class="fab fa-cc-mastercard fa-2x"></i>
							</button>
							<button type="button" class="cb" data-toggle="modal" data-target="#exampleModal">
								<i class="fab fa-cc-visa fa-2x"></i>
							</button>
							<button type="button" class="cb" data-toggle="modal" data-target="#exampleModal">
								<i class="fab fa-cc-paypal fa-2x"></i>
							</button>
							<button type="button" class="cb" data-toggle="modal" data-target="#exampleModal">
								<i class="fab fa-cc-amex fa-2x"></i>
							</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- modal -->
<div class="col-md-6 offset-md-4">
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Paiement</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="nom_carte" class="col-form-label">Nom du titulaire de la carte</label>
							<textarea class="form-control" id="nom_carte"></textarea>
						</div>
						<div class="form-group">
							<label for="numero_carte" class="col-form-label">Numero de la carte</label>
							<input type="text" class="form-control" id="numero_carte">
						</div>
						<div class="form-group">
							<label for="code_cvv" class="col-form-label">Code CVV</label>
							<textarea class="form-control" id="code_cvv"></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					<button type="button" class="btn btn-primary">Payer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 offset-md-4 mt-4 d-flex justify-content-center"></div>
</div></main>{% endblock %}
